body{
    background-size: contain;
    background-image:url('https://images2.alphacoders.com/897/897212.png') !important;
}
#page {
    background-size: contain;
    background-image:url('https://images2.alphacoders.com/897/897212.png') !important;
}
.body-page {
	background-size: contain;
	background:#ECF0F5 url("https://images2.alphacoders.com/897/897212.png") repeat center !important;
}
footer::after{
    content:"Hardy was here";
    text-align: center;
    display: block; 
}


.card {
    background-color: rgba(0,0,0,0.5)!important;
    border: 1px solid rgba(0,0,0,0.5)!important;
    backdrop-filter: blur(10px)!important;
}

 #region-main {
    background: $body-bg-dark;
}
