body{
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image:url('https://media.tenor.com/202SmDBdl3IAAAAC/mahiro-oyama-happy.gif') !important;
}
#page {
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-image:url('https://media.tenor.com/202SmDBdl3IAAAAC/mahiro-oyama-happy.gif') !important;
}
.body-page {
    background-repeat: no-repeat !important;
    background-size: cover !important;
	background:#ECF0F5 url("https://media.tenor.com/202SmDBdl3IAAAAC/mahiro-oyama-happy.gif")!important;
}

footer::after{
    content:"Hardy was here";
    text-align: center;
    display: block; 
}


.card {
    background-color: rgba(0,0,0,0.5)!important;
    border: 1px solid rgba(0,0,0,0.5)!important;
    backdrop-filter: blur(10px)!important;
}

 #region-main {
    background: $body-bg-dark;
}
.box {
	backdrop-filter: blur(10px)!important;
    position: relative;
    border-radius: 3px;
    background: rgba(255,255,255,0.5)!important;
    border-top: 3px solid rgba(0,0,0,0.5)!important;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}
